.story-list-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &__title {
    font-size: 1.25em;
    text-decoration: none;
  }

  &__meta {
    background-color: lightblue;
    border-radius: 3px;
    padding: .5em;
    display: flex;
    flex-direction: column;
  }
  &__author, &__date, &__source {
    font-size: .75em;
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
  }

  &__description {
    font-size: .8em;
  }

  &__imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
  }

  &__url-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .story-list-item {
    flex-direction: row;
    &__imageContainer {
      width: 160px;
      margin-right: 20px;
    }

    &__url-image {
      max-width: 160px;
      max-height: 100%;
    }
  }
}