.story-list-item {
  width: 100%;
  height: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &__title {
    font-size: 1.25em;
    text-decoration: none;
  }

  &__content {
    width: 100%;
  }

  &__meta {
    display: flex;
    flex-direction: column;
  }

  &__author, &__date, &__source {
    font-size: .75em;
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
  }

  &__description {
    font-size: .9em;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .story-list-item {
    flex-direction: row;
  }
}
