footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-top: 1px solid #666;
  text-align: center;

  a {
    color: #41addd;
  
    &:hover {
      color: #6cc0e5;
    }
  }
}