.search-options {
  font-size: .9em;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px dashed black;

  &__options {
    display: flex;
    justify-content: space-around;
    label {
      text-align: center;
    }
  }
  &__control {
    padding: 5px;
    font-weight: bold;
    text-align: left;
    height: 10%;
  }
  &__type {
    margin: 0;
    color: darkblue;
    margin: 5px;
  }
  &__type-selector {
    border: 1px solid black;
    font-size: .9em;
    font-style: italic;
    margin: 0;
    color: darkblue;
    margin: 5px;
  }
}
