.search-options {
  padding: 10px;
  font-size: .9em;
  margin-bottom: 5px;
  border-bottom: 1px dashed black;

  label {
    text-align: left;
  }
  .field {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
  }
  &__type {
    margin: auto;
    color: darkblue;
    margin: 5px;
  }
}
