.search-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .field {
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    .radio {
      label {
        background-color: white;
        color: black;
      }
      input {
        margin-right: 10px;
      }
    }
    .label {
      text-indent: 5px;
      background-color: darkblue;
      color: white;
      letter-spacing: 0.15rem;
      padding: 2px;
      border-radius: 5px 5px 0 0;
    }
    .control {
      padding: 0.5rem;
    }
  }

  #toDate, #fromDate {
    height: 2rem;
    border: 1px solid lightgrey;
  }

  .target-container, .sort-by-container {
    max-height: 115px;
  }

  .search-options__special > .field:first-of-type {
    padding: 4px;
  }

  .date-options {
    margin-bottom: 10px;
  }

}

.show-options-btn {
  margin-left: 20px;
}

.advanced-notice {
  height: 40px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
