.search-options {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  .field {
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    .radio {
      label {
        background-color: white;
        color: black;
      }
      input {
        margin-right: 10px;
      }
    }
    .label {
      text-indent: 5px;
      background-color: darkblue;
      color: white;
      padding: 2px;
      border-radius: 5px;
    }
  }
  .sources {
    width: 310px;
  }
  .target-container, .sort-by-container {
    max-height: 115px;
  }
}


@media only screen and (min-width: 768px) {
  .search-options {
    &__special {
      width: 310px;
    }
  }
}
