.search-options {
  padding: 10px;
  &__special {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
  }
  .field {
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
  }
}


@media only screen and (min-width: 768px) {
  .search-options {
    &__special {
      width: 310px;
    }
  }
}
