.search-options {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  .field {
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    .radio {
      input {
        margin-right: 10px;
      }
    }
  }
  .sources {
    width: 310px;
  }
  .target-container, .sort-by-container {
    max-height: 100px;
  }
}


@media only screen and (min-width: 768px) {
  .search-options {
    &__special {
      width: 310px;
    }
  }
}
