.search-page {

  &__title {
    text-align: center;
    margin: 0 0;
  }

  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 0;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    input {
      background-color: lightgrey;
      width: 100%;
    }
    input, button {
      border-radius: 0;
    }
    input::placeholder {
      font-weight: bold;
      font-style: italic;
      color: black;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
