.story-image {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .story-image {
    &__container {
      width: 20%;
      margin-right: 20px;
    }

    &__image {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }

    &__filler {
      width: 160px;
    }
  }
}
