.list-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 2px solid #000;

  &:first-child {
    border-top: none;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  ul {
    margin-top: 5px;
  }
}