.dropdown-content {
  text-align: left !important;
}
.dropdown {
  width: 100%;
}

@media only screen and (min-width: 768px) {
    .multi-select {
      width: 280px;
    }
    .drop-down {
      width: 280px;
    }
}
